.App {
    text-align: center;
    min-height: 100%;
}

.App {
    display: grid;
    grid-template-areas:
        'header'
        ' main '
        'footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

main {
    /*flex-grow: 1;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header,
main,
footer {
    /*flex-shrink: 0;*/
}

/* Buttons! */
button {
    background: var(--btn-bg);
    border: none;
    border-radius: 0.5em;
    margin: 0.2em;
    text-align: center;

    height: var(--btn-size);
    padding: calc(var(--btn-padding) * 0.5) calc(var(--btn-padding) * 2);
}

button:hover {
    background: var(--btn-hover-bg);
}

button:disabled {
    background: var(--btn-disabled-bg);
    color: var(--btn-disabled-fg);
}

button.active {
    background: var(--btn-active-bg);
}

button.active:hover {
    background: var(--btn-active-hover-bg);

}
