:root {
  --border-color: #383838;
  --btn-bg: #e7e6e6;
  --btn-hover-bg: #d7d7d7;
  --btn-disabled-bg: #d2d2d2;
  --btn-disabled-fg: #5a5959;
  --btn-active-bg: #81d3e7;
  --btn-active-hover-bg: #69bdce;
  --bg-color: #f4f4f4;
}

/* Mobile */
@media (max-width: 499px) {
  :root {
    --table-padding: 0.15em;
    --btn-size: 2em;
    --btn-padding: 0.3em;
    --btn-text-normal: 1em;
    --btn-text-small: 0.5em;
    --btn-text-tiny: 0.3em;
  }
}

/* Desktop */
@media (min-width: 500px) {
  :root {
    --table-padding: 0.25em;
    --btn-size: 3em;
    --btn-padding: 0.4em;
    --btn-text-normal: 1.2em;
    --btn-text-small: 0.8em;
    --btn-text-tiny: 0.5em;
  }
}